.signup-container {
  position: relative;
  background-image: url('/images/london.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.signup-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.signup-heading {
  font-size: 3.5rem;
  font-family: 'Poppins', sans-serif;
  color: #d0d8e6;
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.6),
    0 4px 8px rgba(75, 110, 175, 0.4);;
  letter-spacing: 1.5px;
  font-weight: 700;
  z-index: 2;
}

.signup-container > * {
  position: relative;
  z-index: 1;
}

.signup-form-wrapper {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  height: auto;
}